section {
  margin-top: 200px;
}

.mb-4 {
  padding: 50px;
}

.container {
  padding-top: 100px;
}

.jumbotron.jumbotron-fluid {
  background-color: #e3f2fd;
}

.uk-texarea {
  padding: 12px;
  width: -webkit-fill-available;
}

#contact {
  display: flex;
  justify-content: space-evenly;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
}

.contact-icons {
  margin-right: 20px;
}

body {
  background-color: #F5E6E0;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  height: 100%;
  position: relative;
}

#nav {
  background-color:#2F394D
}

.uk-navbar-nav>li>a {
  color: #759AAB;
}

.gitLinks {
  margin-left:50px;
}

.fixH {
  height:20%;
}